@charset "utf-8";
/*CSS document*/

.hidden
{
	display: none;
}

/*Fontface settings*/
@font-face {
    font-family: 'libre_franklin-medium';
    src: url('../fonts/librefranklin-medium-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-medium-webfont.woff') format('woff');
}

@font-face {
	font-family: 'libre_franklin-semibold';
    src: url('../fonts/librefranklin-semibold-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-semibold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'libre_franklin-italic';
    src: url('../fonts/librefranklin-italic-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-italic-webfont.woff') format('woff');
}

@font-face {
	font-family: 'libre_franklin-bold';
    src: url('../fonts/librefranklin-bold-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-bold-webfont.woff') format('woff');
}

@font-face {
	font-family: 'libre_franklin-regular';
    src: url('../fonts/librefranklin-regular-webfont.woff2') format('woff2'),
         url('../fonts/librefranklin-regular-webfont.woff') format('woff');
}

img, video{
	max-width:100%;
	max-height:100%;
}

/*PAGE Rules*/
/*Sets default font settings*/
body
{
	display:flex;
	margin:0 auto;
	font-family: 'libre_franklin-regular', Helvetica, sans-serif;
	font-size: 14px;
	color: #666;
	line-height: 20px;
	background-color: #EFEFEF;
}

/*Styles all of the H2s*/
h2
{
	max-width: 100%;
	height: 25px;
	background-color: #9bbd4f;
	font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
	color: #FFF;
	font-size: 18px;
	margin-bottom: 15px;
	padding: 5px 0px 0px 10px;
}

/*Styles all of the H4s*/
h4
{
	max-width: 100%;
	height: 22px;
	background-color: #d8ae58;
	font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
	color: #FFF;
	font-size: 16px;
	padding-top:3px;
	padding-left:10px;
	margin-bottom:10px;
}

/*Styles all of the links dark green and medium font weight*/
a
{
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	color: #5d6f34;
	text-decoration: none;
	transition: all .15s linear;
}

/*Styles all buttons the same*/
button, .fundraiser a, .submit, .merchBuy a{
	height: 30px;
	background-color: #d8ae58;
	color: #FFF;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	font-size: 20px;
	cursor: pointer;
	transition: all 0.1s linear;
}

/*Styles buttons on click*/
button:active, .fundraiser a:active, .submit:active
{
	background-color: #ba964c;
	box-shadow: none;
}

/*sets the page width - this changes by screen*/
#container
{
	min-width:325px;
	max-width:600px;
	margin: 0 auto;
	background-color: #FFF;
	box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}

/*MOBILE RULES*/
/**/

/*HEADER SECTION RULES*/
/**/
/*Makes header position relative so logo can sit on top of header image and nav*/
#mainHeader
{
	display:flex;
	flex-direction:row;
	position: fixed;
	background-color: #FFF;
	width: 100%;
	height: 60px;
	z-index: 3;
}

#headerImage
{display:none;}

#big_logo
{
	display:none;
}

/*Positions the logo*/
#traa_logo
{
	margin-top:5px;
	margin-left:10px;
	width: 50px;
	height: 50px;
}

#headerTextCon
{
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	font-size: 26px;
	line-height:40px;
	margin-top:10px;
	margin-left:10px;
}

/*hides main header*/
#mainNav
{
	display: block;
}

#mainNav a
{
	color: #FFF;
}

#mainNav ul li 
{
	display:block;
	background: #5d6f34;
	height:27px;
	margin-bottom:3px;
	padding:10px 150px 0 150px;
}

/**/
/*HOME SECTION RULES*/
/**/
#homeSection
{
	margin-top: 60px;
}

/*Styles meetings background*/
#nextMeeting
{
	width: 100%;
	background-color: #5d6f34;
}

/*Styles and positions meeting text*/
#meetingHeader
{
	color: #FFF;
	text-align: center;
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	font-size: 14px;
	padding: 5px 5px 5px 5px;
}
/**/
/*HERO SECTION RULES*/
#hero
{
	display:flex;
	flex-direction: column;
	text-align: center;
}

/*Positions and styles hero text*/
#heroText
{
	max-width: 100%;
	margin: 20px 10px 20px 10px;
	
}

/*Styles hero header*/
#heroHeader
{
	width: 100%;
	font-family: 'libre_franklin-bold', Helvetica, sans-serif;
	font-size: 18px;
	line-height: 20px;
	color: #5d6f34;
	background: none;
}

/*Styles hero text*/
#heroText p
{
	width:100%;
	font-family: 'libre_franklin-italic',Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	margin-top: 5px;
}

/**/
/*ABOUT US SECTION RULES*/
/*Adds space above about us*/
#aboutUsSection
{
	margin-top: 30px;
}

#aboutInfo
{
	width:90%;
	margin: 0 auto;
}

/*Makes the first line in copy1 medium font weight*/
.makeMedium
{
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	margin-bottom: 10px;
}

/*Styles copy1's list*/
#aboutCopy1 ul
{
	list-style-type: disc;
	margin-left: 15px;
}

/*Spaces out the list items*/
#aboutCopy1 ul li
{
	line-height: 26px;
	margin-bottom: 10px;
}

/*Removes margin-bottom from last list item*/
#aboutCopy1 ul li:last-child
{
	margin-bottom: 0;
}

/*hides Large about image*/
#aboutImgBig
{
	display:none;
}

#aboutImgMobile
{
	display: flex;
	margin: 0 auto;
	justify-content: center;
	margin-top: 10px;
}

/*Spaces out bottom portion of information*/
#aboutInfoBottom
{
	margin-bottom: 22px;
}

/*Adds space after paragraphs in copy2*/
#aboutCopy2 p
{
	padding-left: 10px;
	padding-right:5px;
	margin-top:15px;
	margin-bottom: 22px;
}
/**/
/*STATISTICS DROP DOWN RULES*/
/**/
/*Positions expand triangle next to statistics link*/
#expandTriangle
{
	margin-bottom: 2px;
	-webkit-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	transform: rotate(-90deg);
	transition: all 0.25s linear;
}

/*Rotates expand triangle when statistics link is clicked*/
#expandTriangle.openStatistics
{
	-webkit-transform: rotate(0deg);
	-ms-transform: rotate(0deg);
	transform: rotate(0deg);
}

/*Styles the see statistics link*/
#statisticsLink
{
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	cursor: pointer;
}

/*Formats the statistics graphs and hides them until the statistics link is clicked*/
#statistics
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 22px;
	margin-right: 10px;
	height: 0;
	opacity: 0;
	overflow: hidden;
	transition: all 0.5s ease;
}

/*Displays the graphs when the statistics link is clicked*/
#statistics.openStatistics
{
	height: 100%;
	opacity: 1;
}

/*Adds space above graphs*/
#statistics img
{
	width:300px;
	height:250px;
	margin-top: 10px;
}

/**/
/*MEMBERSHIP SECTION RULES*/
#membership
{
	display:flex;
	flex-direction: row;
	justify-content: space-between;
}

.posAndNames{
	flex: 1 1 150px;
	text-align:center;
}

.memberCon
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-bottom: 30px;
}


/*Makes member group names semibold*/
.makeSemibold
{
	margin-top:10px;
	margin-bottom: 10px;
	font-size: 16px;
	font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
}

/*Adds space to bottom of volunteers*/
#volunteers
{
	margin-bottom: 40px;
}

/*Styles and spaces out membership*/
#membership
{
	width: 100%;
	background-color: #5d6f34;
	margin-bottom: 40px;
	display: block;
	justify-content: center;
	color: #FFF;
}

/*Vertically centers membership content*/
#membershipCon
{
	display: block;
}

/*Styles and positions membership title*/
#membershipLeft
{

	font-family: 'libre_franklin-bold', Helvetica, sans-serif;
	font-size: 34px;
	line-height: 44px;
	width: 100%;
	text-align: center;
}

/*Makes "membership" green in title*/
#makeGreen
{
	padding-top:10px;
	display:block;
	color: #9abb53;
}

/*Positions and formats membership right content*/
#membershipRight
{
	display:block;
	margin:0 auto;
	width: 90%;
	text-align: center;
	font-size: 16px;
	line-height: 20px;
	margin-top:10px;
}

/*Sizes and positions member join button*/
#memberJoin
{
	width: 80%;
	margin-top:10px;
	margin-bottom:20px;
}

/*Creates popup background*/
#membershipPopup 
{
  display: none; /* Hidden by default */
  position: fixed; /* Stays in place */
  z-index: 4; /* Modal is placed on top of the page */
  padding-top: 100px; /* Creates padding on top of modal */
  left: 0; /* Starts background in top left corner */
  top: 0;
  width: 100%; /* Background takes up full width */
  height: 100%; /* Background takes up full height */
  background-color: rgb(0,0,0); /* Fallback color if browser doesn't support alpha */
  background-color: rgba(0,0,0,0.4); /* Creates background with opacity*/
}

/*Membership popup fade animation*/
@-webkit-keyframes popupFade {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes popupFade {
  from {opacity: 0} 
  to {opacity: 1}
}

/*Displays membership popup*/
#membershipPopup.openPopup
{
	display: block;
	-webkit-animation-duration: 0.5s;
	-webkit-animation-name: popupFade;
	animation-duration: 0.5s;
	animation-name: popupFade;
}

/*Creates popup content box*/
#popupCon 
{
  background-color: white; /* White background */
  margin: 3% auto; /* 5% from the top and centered */
  padding: 15px; /* Pads text from the border */
  width: 470px; /* Sets width of the content box */
  color: #666;
}

/*Creates x button for membership popup*/
#xButton
{
	float: right;
	font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
	font-size: 30px;
	margin: 13px 10px 0 0;
	cursor: pointer;
}

/*Adds hover and click effect to x button*/
#xButton:hover, #xbutton:active
{
	color: #FFF;
}

/*Styles and positions membership popup title*/
#popupCon p
{
	width: 450px;
	height: 30px;
	background-color: #9bbd4f;
	font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
	color: #FFF;
	font-size: 30px;
	margin: 0 auto;
	margin-bottom: 15px;
	padding: 13px 10px 7px 10px;
}

/*Styles the membership form labels*/
#popupCon label
{
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	font-size: 20px;
	display: block;
	margin-top: 15px;
}

/*Styles and positions the membership form inputs*/
#membershipFirstName, #membershipLastName, #membershipEmail
{
	display: block;
	margin-top: 5px;
	padding: 10px;
	width: 450px;
	height: 20px;
	border: 1px solid #666;
	border-radius: 2px;
	color: #666;
	font-size: 16px;
}

/*Positions the payment types*/
#paymentType
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: 50px;
	margin-top: -10px;
	margin-bottom: -35px;
}

/*Reduces space between label and radio button*/
.paymentLabel
{
	margin-left: -25px;
}

/**/
/* EVENT SLIDESHOW SECTION RULES */
/*Sets slideshow size and position*/
.slideshow
{
	max-width: 930px;
	position: relative;
	margin: 0 auto;
	text-align: center;
}

/*Sizes and positions the image area*/
.imageArea
{
	position: relative;
	max-width: 930px;
}

/*Sizes the arrows and adds a background to them*/
.prevSlide, .nextSlide
{
	width: 25px;
	height: 25px;
	background-color: rgb(51,51,51);
	background-color: rgba(51,51,51,0.8);
	border-radius: 50%;
}

/*Positions the left arrow within the background*/
.prevSlide
{
	padding: 5px 7px 5px 3px;
}

/*Positions the right arrow within the background*/
.nextSlide
{
	padding: 5px 3px 5px 7px;
}

/*Positions arrows section*/
#arrows
{
	width: 95%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: absolute;
	z-index: 1;
	top: 40%;
	margin-left: 2.5%;
}

/*Changes opacity of arrows and changes cursor to pointer*/
#arrows a
{
	cursor: pointer;
	opacity: 0.8;
	transition: all 0.1s linear;
}

/*Changes opacity of arrows on click*/
#arrows a:active
{
	opacity: 1;
}

/*Positions and adds backgorund to display number*/
.slideNumber
{
	position: absolute;
	top: 10px;
	left: 10px;
	padding: 5px;
	background-color: rgb(51,51,51);
	background-color: rgba(51,51,51,0.8);
	border-radius: 5px;
}

/*Changes colour of display number*/
.slideNumber p
{
	color: #FFF;
}

/*Positions and styles the event description and adds a background*/
.eventDesc
{
	max-width: 940px;
	color: #FFF;
	text-align: left;
	display: flex;
	flex-direction: column;
	justify-content: center;
	background-color: #444;
	padding: 10px 10px 10px 10px;
	margin-bottom: 20px;
	margin-top: -6px;
	font-size: 14px;
}

/*Formats event description title*/
.eventDescTitle
{
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	font-size: 16px;
	margin-bottom: 5px;
}

/*Changes See More colour and adds space to the left*/
.seeMore
{
	margin-left: 10px;
	color: #9bbd4f;
}

/* Fades slideshow pictures*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}

/*Fading animation for slideshow images*/
@-webkit-keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .7} 
  to {opacity: 1}
}

/*Adds space below events section*/
#eventsSection{
	margin-bottom: 30px;
}
/**/
/*LINKS AND NEWSLETTERS SECTION RULES*/
/*Formats the scroll box*/
#scrollBox
{
	max-width:100%;
	height: 400px;
	overflow: auto;
	border: solid 1px #333;
	padding: 10px 10px 0px 10px;
	margin: 0 auto;
	margin-bottom: 40px;
	margin-top: 40px;
}

/*Adds space between list items*/
#scrollBox li
{
	margin-bottom:10px;
}

#scrollBox ul li,
{
	margin-bottom: 20px;
}

/*Makes list titles larger, changes font weight, and adds space above*/
.listTitle
{
	font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
	font-size: 24px;
	padding-top: 30px;
	margin-bottom:10px;
}

/*Removes space above first list title*/
.listTitle:first-child
{
	padding-top: 0;
}

/*Changes weight and font size of newsletter years*/
.newsletterYear
{
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	font-size: 18px;
}

/*Displays newletter links in a row and shrinks space between them and the year*/
.newsletterLinks 
{
	display: flex;
	flex-direction: row;
	margin-left:60px;
	margin-top: -30px;
}

/*Adds space between newsletter links*/
.newsletter
{
	margin-right:10px;
}
/**/
/*FUNDRAISING SECTION RULES*/
/*Sets size, position, and style of fundraisers section*/
#fundraisingWithBG
{
	max-width: 100%;
	background-color: #5d6f34;
	color: #FFF;
	padding-top: 20px;
	margin-bottom: 20px;
}

/*Styles the fundraising text*/
#fundraisingText
{
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	font-size: 14px;
	line-height: 28px;
	max-width: 100%;
	padding: 0 10px 0 10px;
	margin: 0 auto;
}

.fundraiser
{
	max-width:100%;
}

/*Displays fundraisers side by side and aligns them center*/
#allFundraisers
{
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;
}

/*Adds space between button and picture and adds padding*/
.fundraiser a
{
	display: inline-block;
	color: #FFF;
	margin-top: 10px;
	padding: 0 10px 0 10px;
	margin-bottom: 15px;
}

/*Vertically centers text in fundraiser buttons*/
.fundraiserButtonText
{
	display: block;
	padding-top: 4px;
}

/*Spaces out merchandise content*/
#merchandiseCon
{
	width: 100%;
	margin: 0 auto;
	margin-bottom: 40px;
}

/*Sets width of merchandise text*/
#merchandiseText
{
	max-width:100%;
	padding-top:15px;
	margin:0 auto;

}

/*Sets size of merchandise text and spaces it out*/
#merchandiseText p
{
	font-size: 14px;
	line-height: 25px;
	margin-bottom:5px;
	text-align: center;
}

.merchBuy{
	max-width: 320px;
	display:flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	margin: 0 auto;
	margin-top: 15px;
	margin-bottom: 15px;

}

/*Adds space between button and picture and adds padding*/
.merchBuy a
{
	width:180px;
	display: block;
	margin:0 auto;
	color: #FFF;
	margin-top: 10px;
	margin-bottom: 10px;
}

.buyMerchBtn
{
	display: block;
	padding-top: 4px;
}
/**/
/*CONTACT AND MAP SECTION RULES*/
/*Sizes and centers contact section*/
#contactSection
{
	width: 100%;
	margin: 0 auto;
}

#contactCon
{
	display: block;
}

/*Formats contact form*/
#contactForm
{
	width: 100%;
}

/*Styles the contact form labels*/
#contactForm label
{
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	font-size: 14px;
	margin-top: 20px;
	margin-left: 30px;
	display: block;
}

#contactForm label:first-of-type
{
	margin-top: 0;
}

/*Styles the input fields*/
#firstName, #lastName, #email, #message
{
	display: block;
	margin-top: 5px;
	margin: 0 auto;
	width: 90%;
	height: 20px;
	font-size: 16px;
}

/*Makes the message input field larger*/
#message
{
	height: 150px;
}

/*Styles and positions submit button*/
.submit
{
	display: block;
	width: 90%;
	margin: 0 auto;
	margin-top: 20px;
	margin-bottom:20px;
}

/*Styles map area*/
#mapArea
{
	background-color: #5d6f34;
	color: #FFF;
	margin-top:10px;
	font-size: 14px;
	line-height: 25px;
	padding-left:10px;
}

/*Styles map area header*/
#mapArea h3
{
	font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
	font-size: 18px;
	padding-top: 10px;
	margin-bottom: 5px;
	margin-left:10px;
}

/*Styles map area subtitles*/
#mapArea p
{
	color: #d8ae58;
	line-height: 30px;
	margin-left:10px;
}

#mapArea ul li
{
	list-style: none;
	margin-left:10px;
}

#map{
	display: flex;
	margin: 0 auto;
	margin-top:40px;
}

/*Adds space above the map*/
#mapArea iframe
{
	display: flex;
	margin: 0 auto;
}

/*FOOTER SECTION RULES*/
#footerNav
{display:none;}

/*Positions and sizes footer*/
#mainFooter{
	background: #5d6f34; /* Old browsers */
	background: -moz-linear-gradient(top, #5d6f34 0%, #9bbd4f 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top, #5d6f34 0%,#9bbd4f 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom, #5d6f34 0%,#9bbd4f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5d6f34', endColorstr='#9bbd4f',GradientType=0 ); /* IE6-9 */
	height:60px;
}

/*Styles footer links*/
#mainFooter a
{
	font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
	color: #FFF;
	font-size: 14px;
}

/*Styles and positions back to top*/
#backToTop
{
	display:flex;
	justify-content: center;
	margin-bottom:5px;
	padding-top:10px;
}

/*Changes cursor on hover of back to top (for when it appears on desktop)*/
#backToTop:hover
{
	cursor: pointer;
}

/*Positions Facebook link*/
#facebook
{
	display:flex;
	justify-content: center;
}

/*Adds space between Facebook link and logo*/
#facebook a{
	margin-left:5px;
}


/**/
/**/
/**/
/*FUNDRAISING PAGE RULES*/
.fundraisingMain
{
	margin-top:60px;
}

/*Formats the content on the fundraising pages*/
.fundraisingCon
{
	padding: 15px 15px 15px 15px;
	margin: 0 auto;
	min-height: 500px;
}

/*Adds space between list items*/
.fundraisingCon ul li
{
	margin-bottom: 20px;
	text-align: center;
}

/*Makes text bold*/
.bolded{
	font-family: 'libre_franklin-medium', Helvetica, sans-serif;
	margin-bottom: 10px;
}

/*Sets position of 2 pics*/
.twoPics
{
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

/*Sets size and border of double image*/
.doubleImg{
	width:45%;
	height:150px;
	border: 1px solid #666;
}

/*Sets size and border of single image*/
.singleImg{
	width:100%;
	height:350px;
	border: 1px solid #666;
	margin: 0 auto;
}

/**/
/**/
/**/
/*EVENTS PAGE RULES*/
/**/


#troutRelease
{
	margin-top: 60px;
}

#troutDesc
{
	text-align: center;
	margin: 15px 15px 15px 15px;
}

#troutDesc p
{
	margin: 0 auto;
	margin-bottom: 15px;
}

#troutDesc ul li span{
	text-align: center;
}

	/**/
/*EVENT SLIDESHOW BREAKPOINTS*/
	@media screen and (min-width: 500px) {
		/**/
		/* EVENT SLIDESHOW SECTION RULES */
		/*Positions arrows section*/
		#arrows
		{
			top: 45%;
		}
	}

/*FUNDRAISING SECTION BREAK POINTS*/
	@media screen and (min-width: 460px)
	{
		#allFundraisers
		{
			max-width:400px;
		}
	}


/*MEMBERSHIP BAR BREAK POINTS*/
	@media screen and (min-width: 450px)
	{
		#membershipLeft
		{
			font-size: 36px;
		}
	}
	
	@media screen and (min-width: 705px)
	{
		#membershipRight
		{
			margin-bottom:20px;
		}

		#makeGreen
		{
			margin-bottom: 20px;
		}
	}

	@media screen and (min-width: 705px)
	{
		#membershipRight
		{
			padding-right:50px;
		}
	}

	@media screen and (min-width: 705px)
	{
		#makeGreen
		{
			padding-top:20px;
		}
	}

/*TABLET MEDIA QUERY*/
	@media screen and (min-width: 600px) {
		/*PAGE Rules*/
		/*Sets default font settings*/
		body
		{
			font-family: 'libre_franklin-regular', Helvetica, sans-serif;
			font-size: 16px;
			color: #666;
			line-height: 20px;
			background-color: blue;
		}

		/*Styles all of the H2s*/
		h2
		{
			max-width: 100%;
			height: 35px;
			background-color: #9bbd4f;
			font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
			color: #FFF;
			font-size: 20px;
			margin-bottom: 15px;
			padding: 15px 0px 0px 10px;
		}

		/*Styles all of the H4s*/
		h4
		{
			max-width: 100%;
			height: 35px;
			background-color: #d8ae58;
			font-family: 'libre_franklin-semibold', Helvetica, sans-serif;
			color: #FFF;
			font-size: 18px;
			padding-top:15px;
			padding-left:10px;
		}

		/*sets the page width - this changes by screen*/
		#container
		{
			max-width:920px;
		}
		/**/
		/*Header rules*/
		/*Makes header position relative so logo can sit on top of header image and nav*/
		#mainHeader
		{
			position: relative;
		}

		/*Hides mobile logo*/
		#traa_logo
		{
			display:none;
		}

		#big_logo
		{
			display:block;
		}

		#headerImage
		{
			display:block;
		}

		#headerTextCon
		{
			display:none;
		}
		/**/
		/*NAVIGATION RULES AND TRANSITIONS*/
			/*Styles and positions nav bar*/
		#mainNav
		{
			display: block;
			max-width: 100%;
			height: 40px;
			background: #5d6f34; /* Old browsers */
			background: -webkit-linear-gradient(#9bbd4f 0%, #5d6f34 100%);
			background: -o-linear-gradient(#9bbd4f 0%, #5d6f34 100%);
			background: linear-gradient(#9bbd4f 0%, #5d6f34 100%); /* FF3.6-15 */ /* Chrome10-25,Safari5.1-6 */ /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9bbd4f', endColorstr='#5d6f34',GradientType=0 ); /* IE6-9 */
		}

		/*Displays nav links in a row and pushes them to the right so they aren't beneath the logo*/
		#mainNav ul
		{
			display: flex;
			flex-direction: row;
			margin-left:35px;
		}

		/*Spaces the nav links*/
		#mainNav ul li
		{
			margin-top: 9px;
			padding-right: 15px;
			height: 40px;
		}

		/*Styles the nav links*/
		#mainNav ul li a
		{
			color: #FFF;
			font-size: 20px;
			font-family: 'libre_franklin-medium', Helvetica, sans-serif;
		}

		/*Creates fade in animation for main nav bottom border*/
		@-webkit-keyframes navFadeIn 
		{
		  from {
		    border-bottom: solid 8px rgba(216,174, 88, 0)
		  }

		  to {
		    border-bottom: solid 8px rgba(216,174, 88, 1)
		  }
		}

		@keyframes navFadeIn 
		{
		  from {
		    border-bottom: solid 8px rgba(216,174, 88, 0)
		  }

		  to {
		    border-bottom: solid 8px rgba(216,174, 88, 1)
		  }
		}

		/*Styles main nav links on hover*/
		#mainNav ul li a:hover
		{
			border-bottom: solid 8px #d8ae58;
			padding-bottom: .5px;
			-webkit-animation-duration: .35s;
			-webkit-animation-name: navFadeIn; 
			animation-duration: .35s;
			animation-name: navFadeIn; 
		}

		/*Styles main nav links on click*/
		#mainNav ul li a:active
		{
			color: #CCC;
		}
		/**/
		/*HOME RULES*/
		/*Styles meetings background*/
		#nextMeeting
		{
			padding-top:17px;
			height: 50px;
			background-color: #5d6f34;
			
			margin-bottom:30px;
		}

		/*Styles and positions meeting text*/
		#meetingHeader
		{
			font-size: 20px;
		}

		/*Styles hero header*/
		#heroHeader
		{
			font-size: 30px;
		}

		/*Styles hero text*/
		#heroText p
		{
			width:90%;
			display:flex;
			margin: 0 auto;
			font-size: 24px;
			margin-bottom: 30px;
		}

		/**/
		/*MEMBERSHIP RULES*/
		/*Styles and spaces out membership*/
		#membership
		{
			background-color: #5d6f34;
			margin-bottom: 40px;
			display: flex;
			flex-direction: column;
			justify-content: center;
			color: #FFF;
		}

		/*Vertically centers membership content*/
		#membershipCon
		{
			display: flex;
			flex-direction: row;
			justify-content: center;
			padding:10px;
		}

		/*Styles and positions membership title*/
		#membershipLeft
		{
			font-family: 'libre_franklin-bold', Helvetica, sans-serif;
			font-size: 48px;
			line-height: 55px;
			margin-right: 15px;
			margin-left:10;
			padding-top:15px;
			display: flex;
			flex-direction: column;
		}

		#makeGreen
		{
			margin-bottom: 50px;
		}

		#membershipRight
		{
			width:50%;
			margin-right:10px;
		}	

		/*Sizes and positions member join button*/
		#memberJoin
		{
			height:50px;
			margin-top: 15px;
		}

		/* EVENT SLIDESHOW SECTION RULES */
		/*Sizes the arrows*/
		.prevSlide, .nextSlide
		{
			width: 30px;
			height: 30px;
		}

		

		/**/
		/*MERCHANDISE RULES*/
		/*Sets size of merchandise text and spaces it out*/
		#merchandiseText
		{
			margin: 0 0 0 10px;
		}

		#merchandiseText p
		{
			font-size: 16px;
			text-align:left;
			padding-right:5px;
		}
		
		#merchBuyCon
		{
			display:flex;
			flex-direction: row;
		}

		.merchBuy
		{
			max-width:100%;
			margin-top: 15px;
		}

		.merchBuy a
		{
			width:130px;
			display:block;
			margin: 0 auto;
			margin-top:20px;
		}

		/**/
		/*CONTACT RULES*/
		/*Displays content side by side and adds spacing*/
		#contactCon
		{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding:10px;
		}

		/*Formats contact form*/
		#contactForm
		{
			width:50%;
			padding-right:15px;
		}

		/*Styles the contact form labels*/
		#contactForm label
		{
			font-size: 16px;
			margin-top: 20px;
			margin-bottom:10px;
			display: block;
		}

		#firstName, #lastName, #email, #message
		{
			margin-bottom:20px;
		}

		/*Makes the message input field larger*/
		#message
		{
			height: 250px;
		}

		/*Styles map area*/
		#mapArea
		{
			width:50%;
			font-size: 18px;
			line-height: 25px;
		}

		/*Styles map area header*/
		#mapArea h3
		{
			font-size: 25px;
			margin-bottom: 5px;
		}

		/*Styles map area subtitles*/
		#mapArea p
		{
			color: #d8ae58;
			line-height: 30px;
		}

		/*Adds space above the map*/
		#mapArea iframe
		{
			margin-top: 0px;
			padding-left:5px;
			padding-right:5px;
		}





		/*EXTRA FUNDRAISING PAGE RULES*/
		.fundraisingCon ul
		{
			width:90%;
			margin:0 auto;
		}

		/*Sets size and border of double image*/
		.doubleImg
		{
			width:45%;
			height:350px;
			border: 1px solid #666;
		}

		/*Sets size and border of single image*/
		.singleImg
		{
			width:100%;
			height:550px;
			border: 1px solid #666;
			margin: 0 auto;
		}


		/*EXTRA EVENTS PAGE RULES*/

	} /*END TABLET MEDIA QUERY*/


/*DESKTOP MEDIA QUERY*/
		@media screen and (min-width: 920px){

			body
			{
				background-color: red;
			}

			/*Styles all of the links dark green and medium font weight*/
			a:hover
			{
				color: #9bbd4f;
			}

			/*Changes size of the container*/
			#container
			{
				max-width:960px;
			}
			/**/
			/*ABOUT US RULES*/

			/*Spaces out top portion of information*/

			#aboutImgMobile
			{
				display:none;
			}

			#aboutImgBig
			{
				display:block;
			}

			#aboutInfo
			{
				width:95%;
			}

			/*Spaces out top portion of information*/
			#aboutInfoTop
			{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
			}
			

			/*Spaces out the list items*/
			#aboutCopy1 ul li
			{
				line-height: 22px;
				margin-bottom: 4px;
			}

			/*Removes margin-bottom from last list item*/
			#aboutCopy1 ul li:last-child
			{
				margin-bottom: 0;
			}

			#aboutCopy2
			{
				width:100%;
			}


			/**/
			/*STATISTICS RULES*/
			#statistics img
			{
				width:400px;
				height:300px;
			}
			
			/**/
			/*EVENTS RULES*/
			/* EVENT SLIDESHOW SECTION RULES */
			/*Changes opacity of slideshow arrows on hover*/
			#arrows a:hover
			{
				opacity: 1;
			}
			

			/*FUNDRAISER RULES*/
			/**/
			#fundraisingText
			{
				font-size: 20px;
				line-height: 28px;
			}

			.fundraiser
			{
				display:block;
			}

			#allFundraisers
			{
				display:flex;
				flex-direction: row;
			}

			/**/
			/*MEMBERSHIP RULES*/
			#makeGreen
			{
				margin-bottom: 15px;
			}

			/**/
			/*CONTACT RULES*/
			#contactForm
			{
				border-right: solid 1px #CCC;
			}

			#mapArea
			{
				width:45%;
			}
			/**/
			/*FOOTER RULES*/
			#backToTop
			{
				display:none;
			}

			#mainFooter
			{
				height:80px;
			}
			
			#footerNav
			{
				display:flex;
				justify-content: center;
			}

				/*Makes footer nav display in a row and positions it*/
			#footerNav ul
			{
				display: flex;
				flex-direction: row;
				justify-content: center;
				margin-top:15px;
				margin-bottom: 15px;
			}

			/*Styles footer nav links*/
			#footerNav ul li a
			{
				color: #FFF;
				padding-left: 35px;
				padding-right: 35px;
				border-right: solid 1px #FFF;
			}

			/*Removes border-right from last footer nav link*/
			#footerNav li:last-child a
			{
				border-right: none;
			}

			/*Lowers footer links' opacity when hovering on the footer*/
			#mainFooter:hover > #footerNav li a, #mainFooter:hover > #facebook a
			{
				color: rgba(255,255,255,0.6);
			}

			/*Increases footer nav link's opacity when hovering over it*/
			#mainFooter:hover > #footerNav li a:hover, #mainFooter:hover > #facebook a:hover
			{
				color: rgba(255,255,255,1);
			}

			/*Increases facebook link's opacity when hovering over it or the icon*/
			#facebook a:hover ~ #facebookLink
			{
				color: rgba(255,255,255,1);
			}
		} /*END DESKTOP MEDIA QUERY*/